.main {
    margin-left: 286px;
    margin-top: 110px;
}

.content {
    position: absolute;
    top: 105px;
    bottom: 8px;
    right: 8px;
    left: 295px;
    /* padding: 10px; */
    overflow: auto;
    background-color: #212529;
    border-radius: 10px;
}
.contentChild {
    max-width: 330px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding: 30px; 
    background-color: #1c1e21;
    box-shadow: 
    0px 3.26px 3.26px 0px #FFFFFF26 inset, /* First inset shadow */
    0px 0px 48.91px 0px #FFFFFF0D inset,  /* Second inset shadow */
    9px 10px 7.1px 0px #00000066,         /* Outer shadow */
    -0.5px -0.5px 6.9px 0px #FFFFFF40;
    border-radius: 10px;
    border: none;
}

.contentChild h1{
    color: white;
}

.contentChild form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contentChild form input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #343a40;
    color: white;
}

.contentChild form button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.contentChild form button:hover {
    background-color: #0056b3;
}

.contentChild .register {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

.contentChild .register a {
    color: #007bff;
    font-size: 1rem;
    text-decoration: none;
}

.contentChild .register a:hover {
    text-decoration: underline;
}

.contentChild .register{
    color: white;
    font-size: 1rem;
}

@media screen and (max-width: 768px) {
    .content{
        left: 8px;
        bottom: 68px;
    }

    .contentChild{
        width: 75%;
        margin-bottom: 15px;
    }
}
