.main {
    margin-left: 286px;
    margin-top: 110px;
}

.content {
    position: absolute;
    top: 105px;
    bottom: 8px;
    right: 8px;
    left: 295px;
    /* padding: 10px; */
    overflow: auto;
    background-color: #212529;
    border-radius: 10px;
}

.content h1 {
    margin: 0;
}

.content::-webkit-scrollbar {
    display: none;
}

.contentChild {
    overflow: hidden;
    border: 1px solid black;
}

.Frame {
    width: 1300px;
    height: 2000px;
    transform: translate( 0px, -150px);
    border: none;
    background-color: wheat;
}


@media screen and (max-width: 768px) {
    .content {
        left: 8px;
        bottom: 68px;
        padding: 10px;
    }

    .main {
        bottom: 68px;
    }
    .Frame{
        width: 100%;
    }
}